### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.DS_Store

.idea/
ExpensePlanner/.gitignore
ExpensePlanner/ExpensePlanner.iml
ExpensePlanner/Expenses-Manager.pdf
TaskPlanner/TaskPlanner.iml
src/main/java/com/practice/.DS_Store
src/main/java/com/practice/lld/.DS_Store
target/
